.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto auto auto auto;
    grid-template-areas: 
    "header" "header" "header"
    "showcase" "showcase" "showcase"
    "main" "main" "main"
    "contact" "contact" "contact";
}
main{
    /* display: flex; */
    /* flex-flow: row-wrap; */
    /* padding: 5% 0; */
    grid-area: main;
    display: grid;
    grid-template-areas: 1fr 1fr 1fr;
}
.main_1{
    /* flex: 1; */
    /* padding:3%; */
    /* text-align: center; */
}