
@import 'quiz4_all.css';
@import 'quiz4_bootstrap.css';
@import 'quiz4_font.css';
@import 'quiz4_header.css';
@import 'quiz4_showcase.css';
@import 'quiz4_main.css';
@import 'quiz4_contact.css';
:root{
    --main-color:#05a081;
    --text-color:#fff;
}
#showcase{
    background-image: url(../images/showcase.jpg);
    background-size: cover;
    width: 100%;
}
.contact{
    background-image: url(../images/subcribe.jpg);
    width: 100%;
    background-size: cover;
    background-attachment: fixed;
}



